</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>


</body>
<footer class="footer-padding">
    <div class="footer">
        <p>Made by Shlomo Neuberger 2021
        </p>
    </div>
</footer>

</html>