<%- include("partials/header")%>

    <h1>Compose</h1>
    <% if(error){%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
            <div class="d-flex">
                <form action="/compose" class="form-control form-inline" method="post">
                    <div class="form-floating mb-3">
                        <input autocomplete="off" type="text" class="form-control" id="floatingInput"
                            placeholder="title" name="postTitle">
                        <label for="floatingInput">Title</label>
                    </div>

                    <div class="mb-3 form-floating">
                        <textarea class="form-control" name="postBody" style="height: 200px;resize: none;"
                            placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Post</label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary my-2" type="submit">Compose</button>
                    </div>
                </form>

            </div>
            <%- include("partials/footer")%>